# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
# 如果存储的数据多,那么该值需要大点
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
#快照存放位置
dataDir=D:\\qjw\\zookeeper-source\\data2
#事务日志存放位置(非LOG日志)
dataLogDir=D:\\qjw\\zookeeper-source\\logs2
# the port at which the clients will connect
clientPort=2182
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
server.1=127.0.0.1:2888:3888
server.2=127.0.0.1:2889:3889
#选择选举的算法 , 默认有4种,分别为0/1/2/3,但是前三个都已经过期了,不推荐使用,默认使用3,也就是FastLeaderElection
# 1和2都是使用同一个类,只不过参数不一样
#electionAlg=3

